
<footer>
    <section id="Container">
    <div class="Snoop">
      
      <ul>
        <li><a href="">Customer Service</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">Policies</a></li>
        <li><a href="">About Time Centre</a></li>
        <li><a href="">Need Help</a></li>
      </ul>
    </div>
    <div class="Eminem">
      
      <ul>
        <li><a href="">Payment options</a></li>
        <li><a href="">1800-266-1245</a></li>
        <li><a href="">Exchanges</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Terms and conditions</a></li>
      </ul>
    </div>
    <div class="Eminem">
      
      <ul>
        <li><a href="">Track Order</a></li>
        <li><a href="">custocare@time.co.in</a></li>
        <li><a href="">Cancellation</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Services</a></li>
      </ul>
    </div>
    <div class="Eminem">
      
      <ul>
        <li><a href="">Find a Store</a></li>
        <li><a href="">Freq Asked Questions</a></li>
        <li><a href="">Shipping</a></li>
      </ul>
    </div>
    
  </section>
  </footer>

  </html>